{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>



<div>
    {% if current_user.is_authenticated %}
   <form class="form-signin" method="POST" action="{{url_for('module002.index')}}">
            {{ form.hidden_tag() }}

        	{{ wtf.form_field(form.body) }}
             <button class="btn btn-lg btn-warning btn-block" type="submit">Unfollow</button>
    </form>
    {% endif %}
</div>

{% endblock %}